@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="vieswport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from the view)
        <p>
            pizduesh na dvizuhu ?? <br />
            (nazmi na knopku)
        </p>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>