@model  PrivateInside.Models.GuestResponse
@{
    Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">
        <p>
            <label asp-for="Name">tvoe ima</label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="Email">tvoe milo</label>
            <input asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone">tovoy nomer</label>
            <input asp-for="Phone" />
        </p>
        <p>
            <label>Ti budesh??</label>
            <select asp-for="WillAttend">
                <option value="">sto ti viberesh</option>
                <option value="true">da, budu</option>
                <option value="false">nea, huy tam</option>
            </select>
        </p>
        <button type="submit">Sumbit RSVP</button>
    </form>
</body>
</html>